*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

body{
    background-image: linear-gradient(#2980b9, #8e44ab), url(/ecom-images/drop-3698073__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.formapp{
    background: white;
    backdrop-filter: blur 50px;
    width: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.formapp h1, h4{
    border-bottom: solid silver 1px;
    text-align: center;
    padding: 0 0 20px 0;
    margin-top: 20px;
    
}

.formapp form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .text_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    
}

form .text_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

::placeholder{
    color: azure;
}

.text_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.text_field span::before{
    content: " ";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;

}

.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -5px;
    color: #2691d9;

}

.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
    width: 100%;
    color: #2691d9;
}

.forgot {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;

}

.forgot:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 19px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;

}

input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;

}

.signup{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup a{
    color: #2691d9;
    text-decoration: none;
}

.signup:hover{
    text-decoration: underline;
}

input[type="radio"]{
    size: 30px;
    transform: translateY(-4px);
    
}


@media screen and (max-width: 1080px) {
    .formapp{
        flex-basis: 100%;
        font-size: 15px;
        width: 50%;   
    }
    
}
@media (max-width: 500px) {
    .formapp{
        flex-basis: 100%;
        font-size: 15px;
        width: 50%;
        
    }
    input{
        width: 80%;
    }
    .signupbtn{
        flex-basis: 100%;
        width: 50%;
    }
    form input {
        flex-basis: 100%;
    }
    .name{
        flex-basis: auto;
    }
}


